<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
<!--    To use the profiles add to the VM for example: -Dspring.profiles.active=production -->
    <springProfile name="dev,staging">
        <logger name="wvd.springboot.logback" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
        <logger name="wvd.springboot.logback.helper" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

    <springProfile name="production">
        <logger name="wvd.springboot.logback" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="wvd.springboot.logback.helper" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>

</configuration>