[submodule "C++/Cpp-Libraries-Without-Package-Manager/googletest"]
	path = C++/Cpp-Libraries-Without-Package-Manager/googletest
	url = git@github.com:google/googletest.git
[submodule "C++/Tracy/thirdparty/tracy"]
	path = C++/Tracy/thirdparty/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "Algorithms/ai-for-games-book/thirdparty/loguru"]
	path = Algorithms/ai-for-games-book/thirdparty/loguru
	url = git@github.com:emilk/loguru.git
