.vscode/*
build/*
SDL2-2.0.20/docs/*
SDL2-2.0.20/include/*
SDL2-2.0.20/lib/*
SDL2-2.0.20/BUGS.txt
SDL2-2.0.20/README-SDL.txt
SDL2-2.0.20/README.txt
SDL2-2.0.20/WhatsNew.txt
SDL2-2.0.20/COPYING.txt
.vs/*
out/*